#contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents{
    width: 100%;
}

.question{
    width: 80%;
    margin: 2rem;
    border: dashed 3px #bbb;
    padding:0.2rem;
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 80%;
    padding:0.1rem;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid #eee;
    padding:2%;
}

table th{
    background-color: #F7F9FF;
}

.day{
    width: 5rem;
    text-align: center;
}
.answer{
    width:10rem;
    text-align: center;
}