.contents{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 3rem;
}
#loginForm{
  display: flex;
  flex-direction: column;
}
#id, #password{
  margin: 0.5rem;
  width: 20rem;
  height: 3rem;
  padding: 0 0.5rem;
}

.loginBtn{
  margin: 0.5rem;
  width: 22rem;
  height: 3rem;
  background-color: #000;
  color: #fff;
  border:1px solid;
}
