<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/answer.css">
    <link rel="stylesheet" href="../css/menu.css">
</head>
<body>
<a href="../"><image src="../image/main.png" alt="logo" class="logo"></image></a>
<nav>
    <ul>
        <li ><a href="/users/loginForm">로그인</a></li>
        <li ><a th:href="@{../join.html}">회원가입</a></li>
        <li ><a href="/answer/answerForm">Answer</a></li>
        <li ><a th:href="@{../tour.html}">Tour</a></li>
        <li ><a href="/users/logout">로그아웃</a></li>
    </ul>
</nav>

<div class="contents">

<!-- 질문 -->
    <p id="question"> </p>
 <!--답 -->
   <!-- <input type="text" id="answer"/> -->
    <textarea name="answer" id="answer"></textarea>

    <button type="submit" id="save"> 저장하기</button>
</div>
   <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js" charset="utf-8"></script>
   <script type="text/javascript" src="/js/answer.js"></script>
</body>
</html>
