<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" th:href="@{css/index.css}">

</head>
<p>
<nav>
    <ul>
        <li ><a href="/users/loginForm">로그인</a></li>
        <li ><a th:href="@{../join.html}">회원가입</a></li>
        <li ><a href="/answer/answerForm">Answer</a></li>
        <li ><a href="/tour">Tour</a></li>
        <li ><a href="/users/logout">로그아웃</a></li>
    </ul>
</nav>

<div class="contents">
    <img class="mainImg" th:src="@{../image/main.png}" alt="mainImg">
    <!-- 날짜 -->

    <p id="day"></p>

<p id="question"> </p>
<!-- 질문 -->

</div>
<script type="text/javascript" src="js/jquery-3.3.1.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>
