<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/menu.css">
</head>
<body>
<a href="../"><image src="../image/main.png" alt="logo" class="logo"></image></a>
<nav>
    <ul>
        <li ><a href="/users/loginForm">로그인</a></li>
        <li ><a th:href="@{../join.html}">회원가입</a></li>
        <li ><a th:href="@{../answer.html}">Answer</a></li>
        <li ><a th:href="@{../tour.html}">Tour</a></li>
    </ul>
</nav>

<div class="contents">
    <h2>MEMBER LOGIN</h2>
    <form action="/users/login" id="loginForm" name="loginForm" method="post">
    <input type="text" id="id" name="userId" label="ID" placeholder="ID"/>
    <input type="password" id="password" name="password" placeholder="PASSWORD"/>
    <input type="submit" class="loginBtn" value="로그인"/>
    </form>
</div>
</body>
</html>
